<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=VHQLBGxym8jIQg2Edp9V8RHGEGNT7xdW&s=1"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VHQLBGxym8jIQg2Edp9V8RHGEGNT7xdW"></script>
    <!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=d06a2563e53af9880b6e24143739e3e4"></script> -->
    <title>海关大屏展示管理系统</title>
    <style>
        .BMap_cpyCtrl {
            display: none;
        }
        .anchorBL {
            display: none;
        }
    </style>
</head>
<body>
<script src=<%= htmlWebpackPlugin.options.path %>/jquery.min.js></script>
<script src=<%= htmlWebpackPlugin.options.path %>/tinymce/tinymce.min.js></script>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>


</html>
